<h3> Attacked! </h3>
<% if !Game.instance_of_game.current_turn %>
<%= @player1 %> attacked <%= @player2 %>!
<form action="/play">
  <input type="submit" value="OK!">
</form>
<% else %>
<%= @player2 %> attacked <%= @player1 %>!
<form action="/play">
  <input type="submit" value="OK!">
</form>

<% end %>
